.upper{
    display: flex;
    height: 50px;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
}
.flex-box{
    padding: 10px 20px;
}
.flex-box .right-box label, .flex-box .left-box label{
    font-size: 1.2rem;
    text-align: left;
    padding: 0px 5px;
}

#categori{
    width: 180px;
}
#ekis, #ekiss, #close-status, #close-address, #close-item, #close-size, #close-add{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.prodimg{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/* view sizes */
.size-part{
    display: none;
    position: absolute;
    top: 180px;
    width: 100%;
    justify-content: center;
}
.size-column{
    display: flex;
    position: relative;
    width: 40%;
    flex-direction: column;
    text-align: center;
    background-color: #ff9fb6;
    color: white;
    padding: 20px 20px;
    border-radius: 20px;
    border: 1px solid white;
}
.container1{
    display: flex;
    position: absolute;
    top: 130px;
    width: 100%;
    justify-content: center;
}
.container2{
    display: flex;
    position: relative;
    width: 90%;
    flex-direction: column;
    text-align: center;
    background-color: #ff9fb6;
    color: white;
    padding: 20px 20px;
    border-radius: 20px;
    border: 1px solid white;
}
.container2 h1{
    font-size: 2.5rem;
}
.container2 form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2 form button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    width: 10%;
    background-color: #ff4571;
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;
    font-family: "Playfair";
    cursor: pointer;
}
#add-size{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "Playfair";
    font-size: 1.5rem;
    background-color: #ff4571;
    border: none;
    cursor: pointer;
    color: white;
    gap: 5px;
    padding: 0 10px;
    border-radius: 30px;
}
#addsize{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 20%;
    text-decoration: none;
    font-family: "Playfair";
    font-size: 1.5rem;
    background-color: #ff4571;
    border: none;
    cursor: pointer;
    color: white;
    gap: 5px;
    padding: 0 10px;
    border-radius: 30px;
    text-align: center;
}
.left-boxx{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-boxx input{
    width: 110%;
    height: 50px;
    padding: 5px 10px;
    font-family: "Playfair";
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

@media (max-width: 600px){
    .size-part{
        overflow: hidden;
    }
    .size-column{
        width: 80%;
    }
    .size-column .size-create{
        width: 500px;
        margin: 20px 0px 20px 75px;
        justify-content: center;
    }
    .size-column table{
        height: 40vh;
    }
    .size-column table thead{
        width: 200px;
    }
    .size-column table thead th{
        padding: 0px 0px 45px 0px;
    }
    .size-column table tbody{
        height: 100%;
    }

    /* add size modal */
    .container2 h1{
        text-align: center;
    }
    .container2 form button{
        width: 50%;
    }
}
@media (max-width: 360px){
    #categori{
        width: 135px;
        height: 50px;
        font-size: 1.5rem;
    }
    .table-bg{
        height: 95vh;
    }
    .table-bg table thead{
        width: 45rem;
    }
    .table-bg table thead:first-child{
        padding: 20px 0px 10px 5px;
    }
    .table-bg table thead th{
        padding: 40px 0px 10px 5px;
    }
    .table-bg table tbody{
        height: 90vh;
    }
    .table-bg table tbody tr td{
        padding: 4px 0px 0px 5px;
    }
    .table-bg table tbody tr td:nth-child(3){
        margin-top: -25px;
    }
    .create-part .box-column{
        width: 81%;
        margin-left: 7px;
    }
}