@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

section{
    position: relative;
    margin-top: 60px;
}
.container{
    display: grid;
    margin: 10px 20px;
    padding: 20px 20px;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #f0839d;
    border-radius: 30px;
}
.block1{
    grid-column: 1 / 2;
    grid-row: 1;
}
.block2{
    grid-column: 2 / 3;
    grid-row: 1;
}
.block1,.block2,.block3{
    width: 350px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    font-family: "Playfair";
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 1.5rem;
    color: #f0839d;
}
.block4{
    grid-column: 4 / 5;
    grid-row: 1;
    padding-top: 10px;
    background-color: white;
    border-radius: 20px;
    font-family: "Playfair";
    justify-content: start;
    text-align: center;
    font-size: 2rem;
    color: #f0839d;
    height: 160px;
    width: 330px;
}
.scrollbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px; 
    margin-left: -9px;
}
.block4 .scrollbar::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
.block4 .scrollbar::-webkit-scrollbar-thumb{
    background: #ea2f6e; 
    border-radius: 10px;
}
.block4 ul{
    list-style-type: none;
    font-size: 1.5rem;
}
.block4 ul li{
    margin-bottom: 10px;
}
.block-title{
    font-size: 1.5rem;
}
.block-content{
    font-size: 2.5rem;
    color: #ea2f6e
}
.block5{
    grid-column: 1 / 5;
    grid-row: 2;
    margin:-20px -20px;
    border-radius: 30px;
    background: white;
    color: #f0839d;
    text-align: center;
    padding: 10px 10px;
}
@media (max-width: 1200px){
    section{
        margin-top: 60px;
    }
    .container{
        gap: 40px;
    }
    .block1,.block2,.block3,.block4{
        width: 250px;
    }
    .block5{
        width: 1160px;
    }
}
@media (max-width: 800px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .block1{
        grid-column: 1/2;
        grid-row: 1;
    }
    .block2{
        grid-column: 2/3;
        grid-row: 1;
    }
    .block3{
        grid-column: 1/2;
        grid-row: 2;
    }
    .block1,.block2,.block3,.block4{
        width: 340px;
    }
    .block4{
        grid-column: 2/3;
        grid-row: 2;
    }
    .block5{
        grid-column: 1/5;
        grid-row: 3;
        width: 760px;
    }
}
@media (max-width: 600px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .block1{
        grid-column: 1;
        grid-row: 1;
    }
    .block2{
        grid-column: 1;
        grid-row: 2;
    }
    .block3{
        grid-column: 1;
        grid-row: 3;
    }
    .block1,.block2,.block3{
        width: 520px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        font-family: "Playfair";
        justify-content: center;
        text-align: center;
        gap: 20px;
        font-size: 1.5rem;
        color: #f0839d;
    }
    .block4{
        grid-column: 1;
        grid-row: 4;
        width: 520px;
    }
    .block5{
        grid-column: 1;
        grid-row: 5;
        margin-top: 10px;
        width: 560px;
    }
}
@media (max-width: 360px){
    .block1,.block2,.block3{
        width: 280px;
        padding: 10px 0 10px 0;
    }
    .block4{
        width: 280px;
    }
    .block5{
        width: 320px;
    }
}