@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
main{
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.navright{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    gap: 0px;
    position: relative;
    align-items: center;
    background-color: #ff7d9b;
    border-radius: 30px;
}
.navleft{
    width: 20%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100%;
    border: 2px solid #ff7d9b;
    border-radius: 30px;
    padding: 20px 20px;
}
.navleft .navtop{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ea2f6e;
}
.navleft .navtop h3::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1000;
    width: 100%;
    height: 1px;
    background-color: #ff7d9b;
    transition: width 0.5s ease-in-out;
}



.navleft .navmiddle{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 40%;
}
.navleft .navmiddle a{
    text-decoration: none;
    position: relative;
    color: #ff7d9b;
    font-size: 2rem;
    font-family: "Playfair";
    transition: all 0.3s ease-in-out;
}
.navleft .navmiddle a:hover{
    color: #ea2f6e;
}
.navleft .navmiddle .active{
    color: #ea2f6e;
}
.navleft .navmiddle .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: #ea2f6e;
}
.navleft .navmiddle a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: #ea2f6e;
    transition: width 0.5s ease-in-out;
}
.navleft .navmiddle a:hover::after{
    width: 100%;
}



.navleft .navbottom{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 0 20px;
}
.navleft .navbottom button{
    background: none;
    border: none;
    position: relative;
    color: #ff7d9b;
    font-size: 2rem;
    font-family: "Playfair";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.navleft .navbottom button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: #ea2f6e;
    transition: width 0.5s ease-in-out;
}
.navleft .navbottom button:hover::after{
    width: 100%;
}
.navleft .navbottom button:hover{
    color: #ea2f6e;
}



/* table */
.container-box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding: 50px 20px;
}
.status{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: "Playfair";
    font-size: 1.5rem;
    padding-left: 5px;
    color: #ea2f6e;
}
.table{
    width: 100%;
    margin-top: 10px;
    background: white;
    border-radius: 30px;
    border-collapse: collapse;
}
.table thead th{
    font-family: "Playfair";
    font-size: 1.5rem;
    color: #ea2f6e;
    padding: 20px 10px;
    border-bottom: 2px solid #ff7d9b;
}
.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures columns align properly */
}
.table tbody{
    display: block;
    height: 450px; /* Adjust the height as needed */
    overflow-y: auto;
    width: 100%;
}
.table tbody tr {
    text-align: center;
}
.table tbody td {
    padding: 15px 2px;
    vertical-align: center;
    border-bottom: 1px solid #ff7d9b;
    font-size: 1.2rem;
}
/* buttons in the table */
.action{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.action a{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #ff7d9b;
    color: white;
    font-family: "Playfair";
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
}
.action button:hover{
    background-color: #ea2f6e;
}

/* scrollbar */
.table tbody {
    scrollbar-width: thin;
    scrollbar-color: #ff7d9b #f0f0f0; /* Firefox */
}

.table tbody::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.table tbody::-webkit-scrollbar-thumb {
    background-color: #ff7d9b;
    border-radius: 30px;
}



/* ITEMS */
.create-part{
    display: none;
    position: absolute;
    top: 180px;
    width: 100%;
    justify-content: center;
}
.box-column{
    display: flex;
    position: relative;
    width: 40%;
    flex-direction: column;
    text-align: center;
    background-color: #ff7d9b;
    color: white;
    padding: 20px 0px;
    border-radius: 30px;
    border: 1px solid white;
}
#eks{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.box-column h1{
    font-size: 2.5rem;
}
.flex-box{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    gap: 20px;
}
.table2{
    width: 100%;
    margin-top: 10px;
    background: #ff7d9b;
    border-radius: 30px;
    border-collapse: collapse;
}
.table2 thead th{
    font-family: "Playfair";
    font-size: 1.5rem;
    color: white;
    padding: 10px 10px;
    border-bottom: 2px solid white;
}
.table2 thead, .table2 tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
}
.table2 tbody{
    display: block;
    height: 350px; 
    overflow-y: auto;
    width: 100%;
}
.table2 tbody tr {
    text-align: center;
}
.table2 tbody td {
    padding: 10px 2px;
    vertical-align: center;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    color: white;
}
/* scrollbar */
.table2 tbody {
    scrollbar-width: thin;
    scrollbar-color: #ff7d9b #f0f0f0; /* Firefox */
}

.table2 tbody::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.table2 tbody::-webkit-scrollbar-thumb {
    background-color: #ff7d9b;
    border-radius: 30px;
}
.table2 tbody tr td img{
    width: 70px;
    height: 70px;
}



/* PAYMENT */
.cp2{
    top: 100px;
    z-index: 1000;
}
.bx2{
    width: 30%;
}
.flex-box .bayad{
    width: 100%;
    height: 550px;
    margin-top: 10px;
}
.cp2 .bx2 .flex-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
.cp2 .bx2 .flex-box label{
    font-family: 'Playfair';
    font-size: 1.2rem;
    margin-bottom: -15px;
    margin-top: -15px;
}
.cp2 .bx2 .flex-box label:first-child{
    margin-top: 0px;
}
.cp2 .bx2 .flex-box input{
    width: 250px;
    height: 30px;
    text-align: center;
    font-family: 'Playfair';
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    outline: none;
}
@media (max-width: 1366px){

    .navleft{
        height: 100%;
    }

    .navleft .navmiddle a{
        font-size: 1.9rem;
    }

    .table thead th{
        font-family: "Playfair";
        font-size: 1.3rem;
        color: #ea2f6e;
        padding: 20px 5px;
        border-bottom: 2px solid #ff7d9b;
    }
    .table thead th:first-child, .table thead th:nth-child(3), .table thead th:nth-child(6){
        padding: 20px 0px;
        width: 50px;
    }
    .table tbody tr td:first-child, .table tbody tr td:nth-child(3), .table tbody tr td:nth-child(6){
        padding: 20px 0px;
        width: 50px;
    }

    .action a{
        width: 70px;
    }

}

@media (max-width: 600px){
    .bx2{
        width: 90%;
    }
    .navright{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        align-items: center;
        background-color: #ff7d9b;
        border-radius: 30px;

        flex-direction: column;
    }
    .navleft{
        width: 100%;
        flex-direction: column;
        height: 400px;
    }
    .navleft .navmiddle{
        display: flex;
        flex-direction: row;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 40%;
    }
    .navleft .navbottom{
        justify-content: center;
    }
    
    .container-box {
        display: flex; /* Enables side-by-side layout */
        flex-direction: row;
        width: 100%; /* Full container width */
        gap: 10px; /* Adds space between thead and tbody */
        overflow: hidden; /* Prevents overflow beyond container */
    }
    
    .table {
        display: flex; /* Flexbox layout for splitting thead and tbody */
        width: 100%;
        border-collapse: collapse; /* Combines borders of cells */
        border-spacing: 0; /* Ensures no gap between cells */
        border-radius: 0px;
    }
    
    .table thead {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        table-layout: unset;
        width: 40%; /* Fixed width for thead on the left */
        background-color: #ff7d9b; /* Background color for thead */
        padding: 0px 0px;
    }
    
    .table thead th {
        display: flex;
        text-align: center;
        width: 100%; /* Aligns text to the left */
        color: white; /* Text color for better visibility */
        font-family: "Playfair";
        padding: 10px 0px;
    }
    .table thead th:first-child, .table thead th:nth-child(3), .table thead th:nth-child(6){
        padding: 10px 0px;
        width: 100%;
    }
    .table tbody tr td:first-child, .table tbody tr td:nth-child(3), .table tbody tr td:nth-child(6){
        padding: 0px 0px;
        width: 100%;
    }
    .table tbody {
        display: flex; /* Allows horizontal scrolling */
        justify-content: space-around;
        overflow-x: auto; /* Enables horizontal scrolling for tbody */
        width: 60%; /* Takes the remaining width */
        padding: 0px;
        overflow-y: none;
        height: 470px;
    }
    .table tbody tr {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        align-items: center;
    }
    .table tbody td {
        display: flex; 
        text-align: center;
        flex-direction: column;
        border-bottom: none;
        width: 200px;
        padding: 0px 0px;
    }
    .table tbody td:first-child {
        margin-top: 5px;
    }
    .action{
        margin-top: 0px;
    } 
    .action a{
        height: 27px;
        font-size: 1rem;
        padding-top: 3px;
    }
    .status{
        right: 20%;
        top: 40%;
    }

    .box-column{
        width: 90%;
    }
    
}